
.container {
    display: grid;
    justify-content: center;
    
}

.user {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.wrapper {
    border: black 2px solid;
}

button {
    background-color: orange;

}