h1, p, a, div {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns:3fr, 2fr, 1fr;
    grid-auto-rows: minmax(px, auto);
    grid-row: 500px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 10px;
    
    

}

.container {
    background-color: #eee;
    /* padding: 1em; */
}

.container > div:nth-child(odd) {
    background-color: #ddd;
    
   
    
}

.nav {
    grid-column: 1/6;

    
}

input {
    width: 250px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.login {
    background-color:blue;
    color: white;
    /* border-radius: 10px; */
    border:black 1px solid;
    padding: 4px;
    text-decoration: none;
    box-shadow: 2px 4px black;
}

.definition1 {
   grid-column: 1/5; 
   grid-row:2/3;
   border: black 2px solid;
   border-radius: 4px;

}

.definition1 {
    display: flex;
}

.ninja-noun {
    flex: 1;
    border: blue 1px dotted;
}

.ninja-description {
    flex:2;
    border:forestgreen 1px dotted;
    word-wrap: break-word;
    justify-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.definition2 {
    grid-row:3/4;
    grid-column: 1/5;
    border: black 2px solid;
    border-radius: 4px;

}

.defined-by-you {
    grid-column: 5/6;
    grid-row: 2/3;
    border: black 2px solid;
    border-radius: 4px;
}
    

.ninja {
    flex: 1 auto;
    text-align: flex-start;
    justify-content: flex-start;
    
}
